<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Payment System Configuration</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}"/>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link  href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static',filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <img src="" alt="" />
            <span>
              支払いシステムの設定
            </span>
          </a>
          <a style="margin-left: auto;" href="" class="button">
              PaperCutへ戻る
            </a>
        </nav>
      </div>
    </header>
    <!-- end header section -->


  </div>


  <!-- PaperCut Connection Setting -->

  <section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-3 mb-3">
          {% if message != '' %}
          {% if "Success" in message or "成功" in message%}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          {% else %}
          <div class="alert alert-danger alert alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          {%endif%}
          {%endif%}
          <h2 class="custom_heading">PaperCutへの接続設定</h2>
          <form action="/update-papercut-settings" method="post">
            <input id="lang2" required name="lang" type="text" class="form-control" id="formGroupExampleInput"  value="jp" hidden>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">PaperCut サーバー</label>
                <input required name="primary_server" type="text" class="form-control" id="formGroupExampleInput" placeholder="正しいPaperCutプライマリサーバーを入力してください" value="{{papercutConfig.paperCutServer}}">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">PaperCut 認証トークン (Auth Token) </label>
                <div class="input-group mb-3">
                    <input required name="auth_token" id="ppc-token" class="form-control" type="password" placeholder="正しいPaperCut認証トークン (Auth Token) を入力してください"  value="{{papercutConfig.paperCutAuthToken}}" aria-describedby="button-addon2"/>
                    <button class="btn btn-secondary" type="button" id="button-addon2"id="preview-ppc-token" onclick="displayPaperCutToken()">表示</button>
                </div>
            <div>
            <div class="d-flex  mt-4 ">
              <button class="btn btn-primary">
                PaperCut接続設定を更新する
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Payment Transaction Setting -->
  {% if papercutConfig.paperCutServer != '' %}
  <section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-3 mb-3">
          <hr style="border: 0.5px solid white;">
          <h2 class="custom_heading">チャージ取引設定</h2>
          <form action="/update-topup-settings" method="post">
            <input id="lang1" required name="lang" type="text" class="form-control" id="formGroupExampleInput"  value="jp" hidden>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">円からポイントへの変換</label>
                <div class="row">
                    <div class="col">
                      <input required id="yen_to_point" name="yen_to_point" type="number" class="form-control" aria-label="1" value="{{paymentConfig.yenPointRatio}}" onkeyup="changeConversionSimulation()" min="0.01" step=".01">
                    </div>
                    <div class="col">
                      <input id="yen_to_point_simulation" name="yen_to_point_simulation" disabled type="text" class="form-control" placeholder="Last name" aria-label="Last name" value="{{paymentConfig.minimumPurchase}}￥ = {{paymentConfig.minimumPurchase*paymentConfig.yenPointRatio}} ポイント">
                    </div>
                </div>
            </div>
            <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput" class="form-label">最低ポイント購入 (￥)</label>
                  <input required id="minimum_purchase" name="minimum_purchase" aria-label="Minimum Purchase" type="number" class="form-control" value="{{paymentConfig.minimumPurchase}}" onkeyup="changeConversionSimulation()" min="10">
                </div>
                <div class="col">
                    <label for="formGroupExampleInput" class="form-label">最大ポイント購入 (￥)</label>
                  <input required id="maximum_purchase" name="maximum_purchase" type="text" class="form-control" aria-label="Maximum Purchase" value="{{paymentConfig.maximumPurchase}}">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
              <div class="col">
                <label class="form-check-label" for="flexSwitchCheckDefault">PayPayを使用したチャージを有効にする</label>
                {% if paymentConfig.paypayEnabled == 'Y' %}
                <select required name="paypay_enabled" class="custom-select custom-select-sm">
                  <option value="Y" selected>はい</option>
                  <option value="N">いいえ</option>
                </select>
                {% else %}
                <select required name="paypay_enabled" class="custom-select custom-select-sm">
                  <option value="Y">はい</option>
                  <option value="N" selected>いいえ</option>
                </select>
                {% endif %}
              </div>
            </div>
        </div>
            <div class="d-flex  mt-4 ">
                <button class="btn btn-primary">
                  チャージ取引設定の更新する
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if paymentConfig.paypayEnabled == 'Y' %}
  <section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-3 mb-3">
          <hr style="border: 0.5px solid white;">
          <h2 class="custom_heading">PayPayへの接続設定</h2>
          <form action="/update-paypay-settings" method="post">
            <input id="lang3" required name="lang" type="text" class="form-control" id="formGroupExampleInput"  value="jp" hidden>
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">PayPay APIキー</label>
              <div class="input-group mb-3">
                  <input required name="paypay_api_key" id="paypay_api_key" class="form-control" type="password" placeholder="正しい PayPayのAPIキー を入力してください"  value="{{paypayConfig.paypayAPIKey}}" aria-describedby="button-addon2"/>
                  <button class="btn btn-secondary" type="button" id="button-addon2"id="preview-ppc-token" onclick="displayPaypayAPIKey()">表示</button>
              </div>
            <div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">PayPay APIシークレット</label>
                <div class="input-group mb-3">
                    <input required name="paypay_api_secret" id="paypay_api_secret" class="form-control" type="password" placeholder="正しい PayPayのAPIシークレット を入力してください"  value="{{paypayConfig.paypayAPISecret}}" aria-describedby="button-addon2"/>
                    <button class="btn btn-secondary" type="button" id="button-addon2"id="preview-ppc-token" onclick="displayPaypayAPISecret()">表示</button>
                </div>
            <div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">PayPay マーチャントの識別子(merchantID)</label>
                <div class="input-group mb-3">
                    <input required name="paypay_merchant_id" id="paypay_merchant_id" class="form-control" type="password" placeholder="正しい PayPayのマーチャントID を入力してください"  value="{{paypayConfig.paypayMerchantId}}" aria-describedby="button-addon2"/>
                    <button class="btn btn-secondary" type="button" id="button-addon2"id="preview-ppc-token" onclick="displayPaypayMerchantId()">表示</button>
                </div>
            <div>
            <div class="d-flex  mt-4 ">
              <button class="btn btn-primary">
                PayPay接続設定を更新する
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="info_contact">
            <h4>
              Location
            </h4>
            <div>
              <img src="{{ url_for('static',filename='images/location.png') }}" alt="" />
              <p>
                104 loram ipusm
              </p>
            </div>
            <div>
              <img src="{{ url_for('static',filename='images/telephone.png') }}" alt="" />
              <p>
                ( +01 1234567890 )
              </p>
            </div>
            <div>
              <img src="{{ url_for('static',filename='images/envelope.png') }}" alt="" />
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; 2024 All Rights Reserved By
      <a href="https://html.design/">COSY Inc</a>
    </p>
  </footer>
  <!-- footer section -->

  <script src= "{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src= "{{ url_for('static',filename='js/bootstrap.js') }}"></script>
  <script src= "{{ url_for('static',filename='js/circles.min.js') }}"></script>
  <script src= "{{ url_for('static',filename='js/custom.js') }}" ></script>
  <script src= "{{ url_for('static',filename='js/settingpage/settingpage.js') }}" ></script>

</body>

</html>